{% extends "_base.html" %}

{% block title %}{{blog_post.title}}{% endblock %}
{% block description %}{{blog_post.summary}}{% endblock %}
{% block og_title %}{{blog_post.title}}{% endblock %}
{% block og_description %}{{blog_post.summary}}{% endblock %}
{% block og_image %}{{blog_post.cover_image}}{% endblock %}
{% block og_iurl %}{{current_url}}{% endblock %}


{% block content %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{{ blog_post.title }}",
      "description": "{{ blog_post.summary }}",
      "image": "{{ blog_post.cover_image }}",
      "author": {
        "@type": "Person",
        "name": "Alo Odunayo"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Bloggy",
        "logo": {
          "@type": "ImageObject",
          "url": "https://cdn-icons-png.flaticon.com/128/12559/12559704.png"
        }
      },
      "datePublished": "{{ blog_post.created_at | date:"M d, Y" }}",
      "dateModified": "{{ blog_post.updated_at | date:"M d, Y" }}"
    }
    </script>
    <div class="container mx-auto xl:px-44">
        <div class="">
            <h1 class="text-4xl font-bold mb-4">{{ blog_post.title }}</h1>
            <div class="flex gap-2 items-center">
                <img class="h-4" src="https://cdn-icons-png.flaticon.com/128/833/833593.png" alt="date">
                <p class="text-sm text-gray-600 my-4">{{ blog_post.created_at | date:"M d, Y" }}.</p>
            </div>

            <img src="{{blog_post.cover_image}}" alt="">
            {% for content in contents %}
            <div class="mb-4 {{ content.content_type.type|lower }}">
                
                
                {% if content.content_type.type == 'Paragraph' %}
                    <h2 class="text-2xl font-bold mt-8 mb-2">{{ content.data.header }}</h2>
                    <p class="mb-12 paragraph_content">{{ content.data.text|safe }}</p>
                
                
                {% elif content.content_type.type == 'Image' %}
                <div class="flex flex-col gap-4 my-12 items-center overflow-hidden">
                    <img class="w-full" src="{{ content.data.url }}" alt="{{ content.data.caption }}" >
                    <p class="text-sm text-gray-600">{{ content.data.caption }}</p>
                </div>
                
                
                {% elif content.content_type.type == 'Code' %}
                    <div class="flex mt-16 border-t border-l border-r bg-gray-300 rounded-tr-xl border-gray-400  p-2  items-center justify-between">
                        <p class="text-sm capitalize ">{{content.data.language|safe}}</p>
                        <button id="copy-btn-{{content.order}}" class="flex gap-2 text-sm items-center" onclick="copyCode('{{ content.order }}')">Copy code <img class="h-4" src="https://cdn-icons-png.flaticon.com/128/11940/11940163.png" alt="copy"> </button>
                    </div>
                    <pre class="p-4 text-base mb-12"><code id="codeBlock-{{content.order}}" class="language-{{ content.data.language }}">{{ content.data.code|escape|safe }}</code></pre>
                
                
                {% elif content.content_type.type == 'Quote' %}
                    <blockquote class="border-l-4 border-gray-500 pl-4 italic mb-4">{{ content.data.quote }}</blockquote>
                    <cite class="block text-right text-gray-600">{{ content.data.author }}</cite>    
                
                
                {% elif content.content_type.type == 'Points' %}
                    <ol class="custom-ol mb-4">
                        {% for point in content.data.points %}
                        <li><span class="custom-ol-content">{{ point }}</span></li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script>
        const paragraphs = document.querySelectorAll('.paragraph_content,.custom-ol-content');
        paragraphs.forEach((paragraph) => {
            var innerHTML = paragraph.innerHTML;

            // Regex patterns for URL links, text within backticks, and text within asterisks
            var urlRegexPattern = /\[([^\]]+)\]\((https?:\/\/[^\)]+)\)/g;
            var backtickRegexPattern = /`([^`]+)`/g;
            var asteriskRegexPattern = /\*([^*]+)\*/g;
            var slantRegexPattern =  /\_\_([^_]+)\_\_/g;
            var listPattern = /\[\[([^\]]+)\]\]/g;
            var imagePattern = /\(\(([^\]]+)\)\)/g;

            
            // Replace URL links
            var newHTML = innerHTML.replace(urlRegexPattern, function(match, p1, p2) {
                return `<a href="${p2}" target="_blank" class="underline">${p1}</a>`;
            });
            
            // Replace text within backticks
            newHTML = newHTML.replace(backtickRegexPattern, function(match, p1) {
                return `<p
                            style="max-width:80vw; "
                            class='inline-block overflow-x-auto whitespace-nowrap -mb-2'>
                            <span 
                                class='bg-gray-300 font-mono text-base'
                                >
                                    ${p1}
                                </span>
                        </p>`;
            });
            // Replace list pattern
            var newHTML = newHTML.replace(listPattern, function(match, p1) {
                // Split the content inside double square brackets by commas
                const items = p1.split(',').map(item => item.trim());
                // Build the HTML list
                let listHTML = '<ol class="custom-ol mt-2 mb-4">';
                    items.forEach(item => {
                        listHTML += `<li>${item}</li>`;
                    });
                    listHTML += '</ol>';
                return listHTML; // Replace the matched text with the generated list
            });
            var newHTML = newHTML.replace(imagePattern, function(match, p1) {
                // Split the content inside double square brackets by commas
                const items = p1.split(',').map(item => item.trim());
                return `<div class="flex flex-col gap-4 my-12 items-center overflow-hidden">
                            <img class="w-full" src="${items[0]}" alt="${items[1]}" >
                            <p class="text-sm text-gray-600">${items[1]}</p>
                        </div>`;
            });
            // Replace text within asterisks
            newHTML = newHTML.replace(asteriskRegexPattern, function(match, p1) {
                return `<strong class='font-semibold'>${p1}</strong>`;
            });
            // Replace text within asterisks
            newHTML = newHTML.replace(slantRegexPattern, function(match, p1) {
                return `<em>${p1}</em>`;
            });
            paragraph.innerHTML = newHTML;
        });


        function copyCode(id) {
            const button = document.querySelector('#copy-btn-'+id)
            
            // Get the code element
            const codeBlock = document.getElementById(`codeBlock-${id}`);
            
            // Create a temporary textarea element to hold the code
            const textarea = document.createElement('textarea');
            textarea.value = codeBlock.textContent; // Set the value to the code content
            document.body.appendChild(textarea); // Append it to the body

            const beforeCopyHtml = `Copy code <img class="h-4" src="https://cdn-icons-png.flaticon.com/128/11940/11940163.png" alt="copy">`
            const afterCopyHtml = `Code copied <img class="h-4" src="https://cdn-icons-png.flaticon.com/128/447/447147.png" alt="copied">`
            
            // Select the text in the textarea
            textarea.select();
            textarea.setSelectionRange(0, textarea.value.length); // For mobile devices

            try {
                // Copy the selected text to the clipboard
                document.execCommand('copy');
                button.innerHTML=afterCopyHtml

                setTimeout(() => {
                   button.innerHTML=beforeCopyHtml 
                }, 3000);
            } catch (err) {
                alert('Failed to copy code.');
            }

            // Remove the temporary textarea
            document.body.removeChild(textarea);
        }
    
    </script>
{% endblock %}